*.pdf
*.log
info.txt
graphql-prisma/prisma/docker-compose.yml
graphql-prisma/src/prisma.js
graphql-prisma/prisma-review-website/docker-compose.yml
graphql-prisma/node_modules
graphql-basics/node_modules
typescript-trainning/